* {
	font-family: Arial;
}
.expando_table, {
	width: 100%;
	border: 1px hidden; !not solid;
}
.expando_tr {
	width: 100%;
	border: 1px solid;
}
.expando_td {
	width: 100%;
	border: 1px solid;
}
.expando_container {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.expando_name {
	color: purple;
	font-size: 14px;
	height: 12px;
	flex 0;
}
.expando_value {
	color: red;
	#border: 0;
	font-size: 14px;
	height: 12px;
	flex: 1;
}
