*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	font-family: Arial !important;
}
.property_table {
	width: 100%;
	border: 1px solid;
}
.property_tr {
	width: 100%;
	border: 1px solid;
}
.property_td {
	width: 100%;
	border: 1px solid;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start; 
	#align-items: stretch; 
	#align-content: stretch; 
	#overflow-x: hidden;
}
.property_name {
	color: purple;
	font-size: 14px;
	//width: 10px;
	height: 12px;
	flex 0;
	#overflow-y: auto; 
    #overflow-x: hidden;
}
.property_value {
	color: red;
	#border: 0;
	font-size: 14px;
	#overflow:auto; 
	#resize:none;
	#width: 90%;
	height: 12px;
	flex-shrink: 1;
    #overflow-y: auto; 
    #overflow-x: hidden;
}
