* {
	font-family: Arial;
	#border: 1px solid;
}
.expando_table {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.expando_indent {
	#width: 20px;
	flex: 0;
}
.expando_row {
	display: flex;
	flex: 1;
	#display: flex;
	#flex-direction: row;
}
.expando_column {
	flex: 0;
	#width: 100%;
	#display: flex;
	flex-direction: row;
}
.expando_name {
	color: purple;
	font-size: 14px;
	height: 12px;
	flex 0;
}
.expando_value {
	color: red;
	border: 0;
	font-size: 14px;
	height: 12px;
	flex: 1;
}
